<h3 class="text-center mb-3">Patient information</h3>
<div class="container" *ngIf="patientFormGroup">
  <form [formGroup]="patientFormGroup">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">First name : </label>
      <input type="text" readonly class="form-inline text-center" formControlName="lastName">
      <label class="col-sm-2 col-form-label">Last name : </label>
      <input type="text" readonly class="form-inline text-center" formControlName="firstName">
    </div>
  </form>
</div>
<div class="container " *ngIf="rapportFormGroup">
  <form [formGroup]="rapportFormGroup">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Age : </label>
      <input type="text" readonly class="form-inline text-center" formControlName="age">
      <label class="col-sm-2 col-form-label">Risk level : </label>
      <input type="text" readonly class="form-inline text-center" [ngStyle]="{backgroundColor:getColor()}" formControlName="level">
    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col">

      <button class="btn btn-outline-primary" (click)="createNote()" *ngIf="isLoading"> New note
        <svg class="bi" width="16" height="16" fill="currentColor">
          <use xlink:href="assets/img/bootstrap-icons.svg#pen"></use>
        </svg>
      </button>

      <div class="container-fluid" *ngIf="isLoading" >
        <div class="row" >
          <div class="card col-5 my-2 mr-4 p-0" *ngFor="let not of noteService.subjectNote$ | async">
            <div class="card-header p-0">
              <button class="btn btn-link text-danger float-right" (click)="deleteNote(not.id)">
                <i i-bs class="bi" width="20" height="20" fill="currentColor" name="journal-minus"></i>
              </button>
              <button class="btn btn-link float-right" (click)="editNote(not)">
                <i i-bs class="bi" width="20" height="20" fill="currentColor" name="journal-medical"></i>
              </button>
            </div>
            <div class="card-body">
              <p class="card-text" [innerHTML]="not.note"></p>
            </div>
            <div class="card-footer p-0">
              <span class="text-muted font-italic float-right ">
                Last update {{not.createDate | date: 'dd/MM/yyyy'}} by {{not.practitioner}}
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
