<form>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-4">
    <a class="navbar-text ms-2">Edit note</a>
    <button class="btn btn-primary  ml-auto" type="submit" (click)="updateNote(notePreparation.value)">
      <span [hidden]="isLoading">Save</span>
      <span [hidden]="!isLoading">
      <span class="text-white"><mat-spinner mode="indeterminate" diameter="30">
        </mat-spinner>
        </span>
      </span>
    </button>
    <button class="btn btn-danger ml-2" (click)="closeDialog()" type="button">Close</button>
  </nav>


  <div class="container-fluid border">
    <mat-form-field class="m-3 w-90">
      <textarea matInput
                #notePreparation
                aria-label="Note in edition"
                rows="10"
                cols="5"
      >{{data.note.note}}</textarea>
    </mat-form-field>
  </div>
</form>

